<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <a href="/open-spotify"><img src="/static/images/logo.png" class="logo"></a>
            <ul>
                <li><a href="/go-to-home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="options">
            
        </div>
    
</body>
</html>